.Department-content {
    overflow: hidden;
}
.Department-item{
    width:30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #a8a8a8 ;
    padding: 30px 15px 30px 70px;
    position: relative;
}
.Department-item.mg{
    margin: 0%  5%;
}
.icon1{
    position: absolute;
    left:15px;
    top:30px;
    color:#6195ff;
}
.Department-item-title {
    text-transform: capitalize;
    margin-left: 15px;
    margin-bottom: 15px;
    transition: 1s;
}
.Department-item-desc {
 text-transform: capitalize;
 margin-left: 15px;
 margin-bottom: 15px;
 line-height: 1.6;
 color: #999;
 }
 .Department-item.AI:hover .Department-item-title{
     color: #fff;
 }